header {
    background-color: rgba(var(--accent-rgb), 0.8);
    backdrop-filter: blur(5px);
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    transition: all 0.3s ease;

    &:hover {
        background-color: rgba(var(--accent-rgb), 1);
    }
}

.logo {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
}

nav {
    padding-inline: 2rem;

    ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        margin: 0;


        li {
            margin: 0 1rem;

            a {
                color: white;
                text-decoration: none;
                font-weight: bold;
                transition: color 0.3s ease;
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    bottom: -5px;
                    left: 0;
                    background-color: white;
                    transform: scaleX(0);
                    transition: transform 0.3s ease;
                }

                &:hover::after {
                    transform: scaleX(1);
                }
            }
        }
    }
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 2px 0;
    transition: 0.4s;
}