@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0.6;
        transform: translateX(-120%) scaleY(0.95);
    }

    70% {
        opacity: 0.9;
        transform: translateX(3%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

#flying-object {
    position: fixed;
    width: 20px;
    height: 20px;
    background-color: rgba(var(--secondary-rgb), 0.5);
    border-radius: 50%;
    pointer-events: none;
    transition: transform 0.1s ease, background-color 0.3s ease, width 0.1s, height 0.1s;
    z-index: 9999;
    mix-blend-mode: screen;
    box-shadow: 0 0 10px var(--secondary);

    &.fo-bg {
        background-color: var(--accent);
        box-shadow: 0 0 20px var(--accent);
    }
}